---
BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Linux
ColumnLimit: 100
PointerAlignment: Right
SortIncludes: Never
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlignConsecutiveDeclarations:
  Enabled: false
